.history__text p
    margin: 10px
    color: black
    line-height: 30px
    font-size: 16px

.history__photo
    width: 40%
    background-image: url(./../images/club-photo.jpg)
    background-size: cover
    background-position: center
    margin: 0 5%

.history__text
    width: 60%

.history__text span
    color: #f26522
    font-weight: bold

.management__item:nth-child(even)
    display: flex
    flex-direction: row-reverse

.management__item
    display: flex
    margin: 10px
    padding: 20px
    max-width: 1000px
    justify-content: space-evenly
    background-color: rgba(0,0,0,0.05)

.management__des
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: black

.management__des h3
    margin: 10px

.management__des h3 span
    color: #f26522
    font-size: 25px

.management__photo
    border-radius: 2px
    box-shadow: 0 0 3px black
    border: 1px solid black
    height: 200px
    width: 133px

.practice__box
    display: none
    flex-wrap: wrap
    justify-content: space-evenly

.practice__box__active
    display: flex

.practice__group h3
    color: #f26522
    font-size: 30px
    text-align: center
    padding-bottom: 10px
    border-bottom: 1px solid black
    cursor: pointer

.practice__group h3 i
    color: black

.practice__group p
    color: black

.practice__day
    width: 220px
    margin: 10px
    background-color: rgba(0,0,0,0.05)

.practice__day i
    color: #f26522

.practice__info
    text-align: center

.download
    display: flex
    flex-wrap: wrap
    max-width: 1024px
    width: 100%
    justify-content: space-evenly
    margin-bottom: 50px

.download__item
    margin: 10px

@media screen and (max-width: 960px)
    .history__text p
        line-height: 25px
        font-size: 14px

    .history__wrapper
        flex-direction: column-reverse
        align-items: center

    .history__photo
        width: 90%
        height: 300px
        background-position: top

    .history__text
        text-align: center
        width: 90%

    .download__item
        width: 250px
        font-size: 12px
