.navbar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.99);
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.navbar-logo {
  background-image: url(./../images/logo.png);
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

.facebook__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f26522;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 70%;
  left: 0;
  background: #f26522;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#f26522));
  background: linear-gradient(90deg, transparent, #f26522);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav-links:hover:after {
  width: 100%;
}

.fa-volleyball-ball {
  color: #fff;
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

.menu-icon {
  display: none;
}

@-webkit-keyframes rotation {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    position: absolute;
    top: 64px;
    left: -500vw;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 0;
  }
  .nav-links {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
  }
  .navbar-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
    font-size: 2rem;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 2rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=Navbar.css.map */