body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.button {
  background-color: #f26522;
  color: black;
  width: 300px;
  padding: 15px 10px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
}

.button:hover {
  background-color: rgba(255, 95, 20, 1)
}

.button:focus {
  outline-color: #f26522
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__title {
  color: black;
  font-size: 40px;
  margin: 50px;
  text-align: center;
}

.section__title span {
  color: #f26522;
  font-weight: bold;
}

.section__wrapper {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row__box {
  display: flex;
  flex-direction: row;
}


.column__box {
  display: flex;
  flex-direction: column;
}

.padding__top {
  padding-top: 80px;
}